html,*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
main{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 500px 500px 120px;
    gap: 10px;
    z-index: 0px;

}
nav{
    width: 100%;
    height: 70px;
    background-color: black;
    color: aliceblue;
    
    display: flex;
    justify-content: center;
   
}
li{
      list-style-type:none ;
}

header, #banner,#about,#services,#gallery {
    background-color: antiquewhite;
    display: grid;
    place-items:center;
}
#footer{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: aliceblue;

}